/* style.css */

.clr{
	clear:both;
}

.headercolumn {
  float:left;
  width:50%
  
  }
  
.headercolumn h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	letter-spacing: 0.3em;
	text-decoration: underline;
	margin-top: 100px;
	margin-bottom: 0px;
	margin-left: 350px;
}

.headercolumn h2 {
	font-family: 'Lora', serif;
	font-size:60px;
	margin-left: 350px;
	margin-top: 0px;
	margin-bottom: 0px;

}

.headercolumn h3 {
	font-family: 'Arimo', sans-serif;
	font-size:26px;
	color: #A9A9A9;
	margin-left: 350px;
	margin-top: 0px;
	margin-bottom: 0px;

	}

.container {
    width:70%;
    margin:auto;

}

.body{
        background-color:rgb(255, 255, 255);
        color:#555555;
        font-family: Helvetica, sans-serif;
        font-size: 15px;
        margin:0;
    
}
/*
.block1{
    float:left;
    width:50%;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:15px;
	margin-left:0px;
	border-right:5px red solid;
}

*/
.block2{
    float:left;
    width:33.3%;
}

#AboutMeBlock{
	float:left;
	width:60%;
	border-right:1px solid #000;
	
	box-sizing: border-box;
}

#AboutMeBlockSidebar{
	float:right;
	width:40%;
	color:#fff;
	background-color:#26BDD4;
	padding:15px;
	box-sizing: border-box;
	}